USE [Prn231_Project_Final]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concessions]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concessions](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon_User]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon_User](
	[CouponId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_Coupon_User] PRIMARY KEY CLUSTERED 
(
	[CouponId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[ExpirationDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Salary] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[HireDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCard_User]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCard_User](
	[GiftCardId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateAt] [datetime] NULL,
	[UpdateAt] [datetime] NULL,
 CONSTRAINT [PK_GiftCard_User] PRIMARY KEY CLUSTERED 
(
	[GiftCardId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCards]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCards](
	[GiftCardId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Balance] [decimal](10, 2) NOT NULL,
	[ExpirationDate] [date] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[GiftCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Categories]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Categories](
	[MovieId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieReviews]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[ReviewText] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[ReleaseDate] [date] NULL,
	[Language] [nvarchar](100) NULL,
	[Director] [nvarchar](255) NULL,
	[Cast] [nvarchar](max) NULL,
	[AgeRating] [nvarchar](50) NULL,
	[TrailerUrl] [nvarchar](max) NULL,
	[PosterUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](255) NULL,
	[PublishedDate] [datetime] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Concessions]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Concessions](
	[OrderConcessionId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ConcessionId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderConcessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ShowtimeId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CouponId] [int] NULL,
	[GiftCardId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[TheaterId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SeatCapacity] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[SeatTypeId] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[RowName] [nvarchar](5) NOT NULL,
	[IsAvailable] [bit] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatTypes]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatTypes](
	[SeatTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[ShowtimeId] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theaters]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theaters](
	[TheaterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[OpeningHour] [nvarchar](100) NULL,
	[ClosingHour] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TheaterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/5/2024 4:24:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[City] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'Action', N'High-energy scenes with physical stunts and chases', CAST(N'2024-10-29T22:20:57.860' AS DateTime), CAST(N'2024-10-29T22:20:57.860' AS DateTime), 1)
GO
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'Adventure', N'Exciting stories with new experiences or exotic locales', CAST(N'2024-10-29T22:20:57.860' AS DateTime), CAST(N'2024-10-29T22:20:57.860' AS DateTime), 1)
GO
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'Animation', N'Movies created using animation techniques', CAST(N'2024-10-29T22:20:57.860' AS DateTime), CAST(N'2024-10-29T22:20:57.860' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Concessions] ON 
GO
INSERT [dbo].[Concessions] ([ProductId], [ProductName], [Description], [Price], [StockQuantity], [CategoryId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Popcorn', N'Classic buttered popcorn', CAST(5000.00 AS Decimal(18, 2)), 100, 1, 1, CAST(N'2024-10-29T22:21:04.290' AS DateTime), CAST(N'2024-10-29T22:21:04.290' AS DateTime))
GO
INSERT [dbo].[Concessions] ([ProductId], [ProductName], [Description], [Price], [StockQuantity], [CategoryId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Soda', N'Refreshing carbonated drink', CAST(30000.00 AS Decimal(18, 2)), 200, 1, 1, CAST(N'2024-10-29T22:21:04.290' AS DateTime), CAST(N'2024-10-29T22:21:04.290' AS DateTime))
GO
INSERT [dbo].[Concessions] ([ProductId], [ProductName], [Description], [Price], [StockQuantity], [CategoryId], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Nachos', N'Crispy nachos with cheese dip', CAST(4500.00 AS Decimal(18, 2)), 50, 1, 1, CAST(N'2024-10-29T22:21:04.290' AS DateTime), CAST(N'2024-10-29T22:21:04.290' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Concessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 
GO
INSERT [dbo].[Coupons] ([CouponId], [Code], [Discount], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'DISCOUNT10', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.747' AS DateTime), CAST(N'2024-10-29T22:21:24.747' AS DateTime), 1)
GO
INSERT [dbo].[Coupons] ([CouponId], [Code], [Discount], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'SAVE20', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.747' AS DateTime), CAST(N'2024-10-29T22:21:24.747' AS DateTime), 1)
GO
INSERT [dbo].[Coupons] ([CouponId], [Code], [Discount], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'WEEKDAY15', CAST(15.00 AS Decimal(5, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.747' AS DateTime), CAST(N'2024-10-29T22:21:24.747' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[GiftCards] ON 
GO
INSERT [dbo].[GiftCards] ([GiftCardId], [Code], [Balance], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'GIFT100', CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.750' AS DateTime), CAST(N'2024-10-29T22:21:24.750' AS DateTime), 1)
GO
INSERT [dbo].[GiftCards] ([GiftCardId], [Code], [Balance], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'GIFT50', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.750' AS DateTime), CAST(N'2024-10-29T22:21:24.750' AS DateTime), 1)
GO
INSERT [dbo].[GiftCards] ([GiftCardId], [Code], [Balance], [ExpirationDate], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'GIFT25', CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-12-31' AS Date), CAST(N'2024-10-29T22:21:24.750' AS DateTime), CAST(N'2024-10-29T22:21:24.750' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[GiftCards] OFF
GO
INSERT [dbo].[Movie_Categories] ([MovieId], [CategoryId]) VALUES (1, 1)
GO
INSERT [dbo].[Movie_Categories] ([MovieId], [CategoryId]) VALUES (1, 2)
GO
INSERT [dbo].[Movie_Categories] ([MovieId], [CategoryId]) VALUES (1, 16)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 
GO
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 
GO
INSERT [dbo].[News] ([NewsId], [Title], [Content], [Author], [PublishedDate], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Special Discount: Get 10% Off!', N'Enjoy a special discount with the code DISCOUNT10! Get 10% off on all items. This offer is valid until December 31, 2025. Don’t miss out on this fantastic opportunity to save!', N'Don Quixote', CAST(N'2024-10-29T22:21:24.767' AS DateTime), N'https://example.com/images/discount10.jpg', 1, CAST(N'2024-10-29T22:21:24.767' AS DateTime), CAST(N'2024-10-29T22:21:24.767' AS DateTime))
GO
INSERT [dbo].[News] ([NewsId], [Title], [Content], [Author], [PublishedDate], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Save Big: 20% Off on All Purchases!', N'Use the code SAVE20 to get 20% off on all purchases. This offer is valid until December 31, 2025. Shop now and save big on your favorite items!', N'Don Quixote', CAST(N'2024-10-29T22:21:24.767' AS DateTime), N'https://example.com/images/save20.jpg', 1, CAST(N'2024-10-29T22:21:24.767' AS DateTime), CAST(N'2024-10-29T22:21:24.767' AS DateTime))
GO
INSERT [dbo].[News] ([NewsId], [Title], [Content], [Author], [PublishedDate], [ImageUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Weekday Special: 15% Off!', N'Make your weekdays special with a 15% discount! Use the code WEEKDAY15 to enjoy this offer. Valid until December 31, 2025. Don’t miss out on this weekday treat!', N'Don Quixote', CAST(N'2024-10-29T22:21:24.767' AS DateTime), N'https://example.com/images/weekday15.jpg', 1, CAST(N'2024-10-29T22:21:24.767' AS DateTime), CAST(N'2024-10-29T22:21:24.767' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Concessions] ON 
GO
INSERT [dbo].[Order_Concessions] ([OrderConcessionId], [OrderId], [ConcessionId], [Quantity], [Price]) VALUES (1, 3, 1, 1, CAST(50000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Order_Concessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Status] ON 
GO
INSERT [dbo].[Order_Status] ([StatusId], [StatusName]) VALUES (1, N'Active')
GO
INSERT [dbo].[Order_Status] ([StatusId], [StatusName]) VALUES (2, N'Used')
GO
INSERT [dbo].[Order_Status] ([StatusId], [StatusName]) VALUES (3, N'Canceled')
GO
SET IDENTITY_INSERT [dbo].[Order_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 
GO
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ShowtimeId], [SeatId], [Quantity], [Price]) VALUES (2, 3, 1, 1, 1, CAST(50000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [TotalAmount], [IsPaid], [PaymentMethod], [StatusId], [CouponId], [GiftCardId]) VALUES (3, 3, CAST(N'2024-10-30T00:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(18, 2)), 1, N'Cash', 1, 1, 1)
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [TotalAmount], [IsPaid], [PaymentMethod], [StatusId], [CouponId], [GiftCardId]) VALUES (5, 3, CAST(N'2024-11-04T00:00:00.000' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), 1, N'Cash', 1, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Staff')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Admin')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'Customer')
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 
GO
INSERT [dbo].[Rooms] ([RoomId], [TheaterId], [Name], [SeatCapacity], [IsActive]) VALUES (1, 1, N'Room A', 56, 1)
GO
INSERT [dbo].[Rooms] ([RoomId], [TheaterId], [Name], [SeatCapacity], [IsActive]) VALUES (2, 1, N'Room B IMAX', 56, 1)
GO
INSERT [dbo].[Rooms] ([RoomId], [TheaterId], [Name], [SeatCapacity], [IsActive]) VALUES (3, 1, N'Room C 4D', 56, 1)
GO
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 
GO
INSERT [dbo].[Seats] ([SeatId], [RoomId], [SeatTypeId], [SeatNumber], [RowName], [IsAvailable], [IsActive]) VALUES (1, 1, 1, N'A1', N'A', 1, NULL)
GO
INSERT [dbo].[Seats] ([SeatId], [RoomId], [SeatTypeId], [SeatNumber], [RowName], [IsAvailable], [IsActive]) VALUES (2, 1, 1, N'A2', N'A', 1, NULL)
GO
INSERT [dbo].[Seats] ([SeatId], [RoomId], [SeatTypeId], [SeatNumber], [RowName], [IsAvailable], [IsActive]) VALUES (3, 1, 1, N'A7', N'A', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatTypes] ON 
GO
INSERT [dbo].[SeatTypes] ([SeatTypeId], [TypeName], [Description], [Price], [IsActive]) VALUES (1, N'Economic', N'Cheaper seating option', CAST(50000.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[SeatTypes] ([SeatTypeId], [TypeName], [Description], [Price], [IsActive]) VALUES (2, N'Standard', N'Regular seating', CAST(100000.00 AS Decimal(10, 2)), 1)
GO
INSERT [dbo].[SeatTypes] ([SeatTypeId], [TypeName], [Description], [Price], [IsActive]) VALUES (3, N'Premium', N'Comfortable seating with extra legroom', CAST(150000.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[SeatTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Showtimes] ON 
GO
INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [IsActive]) VALUES (1, 1, 1, CAST(N'2024-10-29T09:00:00.000' AS DateTime), CAST(N'2024-10-29T10:49:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [IsActive]) VALUES (2, 2, 2, CAST(N'2024-10-29T09:00:00.000' AS DateTime), CAST(N'2024-10-29T10:37:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Showtimes] ([ShowtimeId], [MovieId], [RoomId], [StartTime], [EndTime], [IsActive]) VALUES (3, 3, 3, CAST(N'2024-10-29T09:00:00.000' AS DateTime), CAST(N'2024-10-29T11:14:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Showtimes] OFF
GO
SET IDENTITY_INSERT [dbo].[Theaters] ON 
GO
INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [OpeningHour], [ClosingHour], [IsActive]) VALUES (1, N'CGV Vincom Center', N'191 Bà Tri?u, Hai Bà Trung, Hà N?i', N'024-3974-9350', N'9:00 AM', N'11:00 PM', 1)
GO
INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [OpeningHour], [ClosingHour], [IsActive]) VALUES (2, N'Lotte Cinema', N'229 Tây Son, Ð?ng Ða, Hà N?i', N'024-3562-3535', N'10:00 AM', N'12:00 AM', 1)
GO
INSERT [dbo].[Theaters] ([TheaterId], [Name], [Address], [Phone], [OpeningHour], [ClosingHour], [IsActive]) VALUES (3, N'Galaxy Cinema', N'116 Nguy?n Du, Qu?n 1, TP. H? Chí Minh', N'028-3822-8533', N'9:30 AM', N'11:30 PM', 1)
GO
SET IDENTITY_INSERT [dbo].[Theaters] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [City], [CreatedAt], [UpdatedAt], [IsActive], [RoleId]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'123-456-7890', N'Hanoi', CAST(N'2024-10-29T22:31:31.043' AS DateTime), CAST(N'2024-10-29T22:31:31.043' AS DateTime), 1, 1)
GO
INSERT [dbo].[Users] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [City], [CreatedAt], [UpdatedAt], [IsActive], [RoleId]) VALUES (2, N'Jane', N'Smith', N'jane.smith@example.com', N'098-765-4321', N'Hanoi', CAST(N'2024-10-29T22:32:04.387' AS DateTime), CAST(N'2024-10-29T22:32:04.387' AS DateTime), 1, 2)
GO
INSERT [dbo].[Users] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [City], [CreatedAt], [UpdatedAt], [IsActive], [RoleId]) VALUES (3, N'Joe', N'Hoe', N'joe.hoe@example.com', N'098-098-0987', N'Hanoi', CAST(N'2024-10-30T19:28:34.357' AS DateTime), CAST(N'2024-10-30T19:28:34.357' AS DateTime), 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534DA2E3FE2]    Script Date: 11/5/2024 4:24:53 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Customer_Movie]    Script Date: 11/5/2024 4:24:53 PM ******/
ALTER TABLE [dbo].[MovieReviews] ADD  CONSTRAINT [UQ_Customer_Movie] UNIQUE NONCLUSTERED 
(
	[MovieId] ASC,
	[CustomerId] ASC,
	[ReviewDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105348B435CD1]    Script Date: 11/5/2024 4:24:53 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Concessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Concessions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Concessions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GiftCards] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GiftCards] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GiftCards] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MovieReviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [PublishedDate]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[SeatTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Showtimes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Theaters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupon_User]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_User_Coupons] FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([CouponId])
GO
ALTER TABLE [dbo].[Coupon_User] CHECK CONSTRAINT [FK_Coupon_User_Coupons]
GO
ALTER TABLE [dbo].[Coupon_User]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_User_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([CustomerId])
GO
ALTER TABLE [dbo].[Coupon_User] CHECK CONSTRAINT [FK_Coupon_User_Users]
GO
ALTER TABLE [dbo].[GiftCard_User]  WITH CHECK ADD  CONSTRAINT [FK_GiftCard_User_GiftCards] FOREIGN KEY([GiftCardId])
REFERENCES [dbo].[GiftCards] ([GiftCardId])
GO
ALTER TABLE [dbo].[GiftCard_User] CHECK CONSTRAINT [FK_GiftCard_User_GiftCards]
GO
ALTER TABLE [dbo].[GiftCard_User]  WITH CHECK ADD  CONSTRAINT [FK_GiftCard_User_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([CustomerId])
GO
ALTER TABLE [dbo].[GiftCard_User] CHECK CONSTRAINT [FK_GiftCard_User_Users]
GO
ALTER TABLE [dbo].[Movie_Categories]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Categories]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Concessions]  WITH CHECK ADD FOREIGN KEY([ConcessionId])
REFERENCES [dbo].[Concessions] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Concessions]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([SeatId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtimes] ([ShowtimeId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([CouponId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([GiftCardId])
REFERENCES [dbo].[GiftCards] ([GiftCardId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[Order_Status] ([StatusId])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([TheaterId])
REFERENCES [dbo].[Theaters] ([TheaterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatTypes] ([SeatTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([MovieId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Concessions]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Concessions]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[MovieReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[SeatTypes]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
